<div class="row tab-pane fade" id="aba_modelo">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                 <label id="ativar-ngram">
                    <input type="checkbox" align="center" name="checkbox_ativarngram" id="checkbox_ativarngram" value="1">
                        Generate N-grams
                     </input>
                 </label>
            </div>
            <div class="row">
                <div id="div_propriedades_ngram">
                    <div class="col-md-6">
                        <h2 align="center">Properties</h2><br/>
                        <fieldset id="propriedades_ngram" style="margin-left: 10px;">
                            <div class="form-group">
                                <input type="checkbox" name="checkbox_ngram" id="checkbox_ngram" checked disabled>
                                <label for="numero_gram" style="font-weight: 400;">&nbsp; GRAM number:  &nbsp;&nbsp;</label>
                                <select name="numero_gram" class="form-control" id="numero_gram" style="width: 60px; display: initial;">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <input type="checkbox" name="checkbox_vocabulario" id="checkbox_vocabulario" value="1">&nbsp;
                            <label for="checkbox_vocabulario" style="font-weight: 400;"> &nbsp;Generate vocabulary</label>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <h2 align="center">Perplexity</h2><br/>
                        <div style="margin-left: 20px;">
                            <label>
                                <input type="checkbox" name="check_calcular_perplexidade" id="check_calcular_perplexidade"
                                       onclick="habilitarBotaoArquivoPerplexidade();" value="1"> Calculate perplexity
                                <input type="file" class="filestyle" name="file_carregar_arquivo_perplexidade"
                                       data-disabled="true"
                                       id="file_carregar_arquivo_perplexidade" data-buttonBefore="true">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-primary" onclick="ativaTab('aba_entidades');" style="margin-left: 320px; margin-top: 30px;">
                        Next step
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

