<div id="aba_limpeza_corpus" class="row tab-pane fade">
    <div class="col-md-12 text-center">
        <div class="row">
            <div class="col-md-6text-center">
                <h3>
                    Corpus cleaning parameters:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="checkbox_eliminarpontuacao" style="font-weight: 400">
                    <input type="checkbox" name="checkbox_eliminarpontuacao" id="checkbox_eliminarpontuacao" value="1">&nbsp; Delete punctuation
                </label>
                <br/>
                <label for="checkbox_eliminarstopwords" style="font-weight: 400">
                    <input type="checkbox" name="checkbox_eliminarstopwords" id="checkbox_eliminarstopwords" value="1" >&nbsp; Eliminate stopwords
                </label>
            </div>
            <div class="col-mg-6 text-right">
                <button type="button" class="btn btn-primary" onclick="ativaTab('aba_limpeza_corpus');">Next step</button>
            </div>
        </div>

    </div>
</div>

