<div id="aba_entidades" class="row tab-pane fade">
    <div class="col-md-12">
        <row>
            <div class="col-md-12">
                <label id="ativar-entidades">
                    <input type="checkbox" align="center" name="checkbox_ativarentidades" id="checkbox_ativarentidades"[
                           value="1"> Generate corpus of named entities
                </label>
            </div>
        </row>
        <row>
            <div class="col-md-6">
                <h3>Properties</h3>
                <div id="saida_entidades">
                    <div class="form-group">
                        <label for="formato_saida_entidades">Format of the output file</label>
                        <select name="formato_saida_entidades" class="form-control" id="formato_saida_entidades" style="width: 400px;" onchange="exemplos()">
                            <option value="slashTags" selected>SlashTags</option>
                            <option value="tsv">TSV</option>
                            <option value="tabbedEntities">tabbedEntities</option>
                            <option value="xml">XML</option>
                            <option value="inlineXML">inlineXML</option>
                        </select>
                        <label style="position: absolute; margin-top: 10px; margin-left: 20px; font-weight: 400;">
                            <i id="exemplo">Exemple: Anne/Pessoa likes/O chocolate/O</i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-mg-6 text-center">
                <button type="button" class="btn btn-primary" onclick="ativaTab('aba_limpeza_corpus');" >Next step</button>
            </div>
        </row>
    </div>

</div>
