<ul class="nav nav-tabs">
    <li id="li-first" class="active">
            <a href="#aba_preprocessamento" data-toggle="tab" aria-expanded="true">Crawler</a>
    </li>
    <li><a href="#aba_modelo" data-toggle="tab" >Language Model</a></li>
    <li><a href="#aba_entidades" data-toggle="tab">Named entities</a></li>
    <li><a href="#aba_limpeza_corpus" data-toggle="tab">Corpus cleaning</a></li>
    <li><a href="#aba_geracao" data-toggle="tab">Corpus generation</a></li>
</ul>
