{% extends "uCrawnler/template.html" %}

{% block title %}
Web Crawler - Processing
{% endblock %}

{% block content %}

<div class="row">
    <hr>
    <div class="col-md-3">
        <h1> Personal Info </h1>
    </div>
    <div class="col-md-6">
        <form action="{% url 'editar_dados_usuario' %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Name <label style='color:red;'>*</label>: </label>

                 <div class="col-md-10">
                    <input type="text" class="form-control" id="nome" name="nome" value="{{user.first_name}}" >
                 </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="sobrenome">Last name <label style='color:red;'>*</label>: </label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" value="{{user.last_name}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Email <label style='color:red;'>*</label>:</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="senha"> Password <label style='color:red;'>*</label>: </label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="senha" name="senha">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="confirmacao_senha">Confirm password <label style='color:red;'>*</label>:</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="confirmacao_senha" name="confirmacao_senha">
                </div>
            </div>

            {% if erro %}
                <p style="font-size:90%; color: red;"> {{erro}}</p>
            {%elif info %}
                <p style="font-size:90%;font-weight: bold;"> {{info}}</p>
            {% endif %}

             <div class="form-group">
                 <label class="col-md-3"></label>
                 <div class="col-md-8">
                    <input type="submit" class="btn btn-default" value="Save Changes"> </input>
                     <span></span>
                    <a href="{% url 'uCrawnler:index' %}" class="btn btn-default">
                        Return
                    </a>
                 </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>

    {% endblock %}
