{% extends "uCrawnler/template.html" %}

{% block title %}
    uCrawnler
{% endblock %}

{% block content %}

{% include "uCrawnler/erro_alert.html" %}

<div class="container-fluid" style="width: 80%">
    <div class="row">
        <div class="col-md-12">
            {% include "uCrawnler/index/abas_navegacao.html" %}
        </div>
    </div>

    <form action="{% url 'uCrawnler:iniciar' %}"
          method="post"
          enctype="multipart/form-data"
          id="frmPrincipal">

            {% csrf_token %}
            <div class="tab-content">
                {% include "uCrawnler/index/aba_crawler.html"%}
                {% include "uCrawnler/index/aba_modelo_linguagem.html"%}
                {% include "uCrawnler/index/aba_entidades_nomeadas.html"%}
                {% include "uCrawnler/index/aba_limpeza_corpus.html"%}
                {% include "uCrawnler/index/aba_geracao.html"%}
            </div>
    </form>
</div>

{% endblock %}
