div#interface {
    display: block;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    width: 900px;
    height: 700px;
    /*margin-top: -10px;*/
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

div#aba_preprocessamento.tab-pane.active.in{
    padding: 10px;
}

h2{
    font-size: 26px;
    margin-bottom: 20px;
}

div#checkbox-pesq.checkbox{
    margin-left: 25px;
}

header#cabecalho-interface{
    position: relative;
    width: 100%;
    height: 130px;
    margin-bottom: 0%;
}

.nav{
    padding-left: 100px;
}

div.bootstrap-filestyle.input-group{
    width: 95%;
}

label.btn.btn-default{
    padding-left: 10px;
}

span.glyphicon.glyphicon-folder-open{
    padding-right: 3px;
}

.navbar-brand {
    padding: 7px 10px;
    display: block;
}

div#logo {
    position: absolute;
    left: 80px;
    top: 10px;
}

div.col-lg-6{
    padding-left: 22px;
}


table#headerSenha {
    display: block;
    position: absolute;
    left: 460px;
    top: 15px;
}

div#aplicacao {
    display: block;
    position: relative;
    border-top: 1px #000000 solid;
    margin-top: 0%;
    background-color: white;
}

nav#menu {
    position: absolute;
    display: block;
    margin-left: 50px;
    align-content: center;
    width: 100%;
    left: 50px;
}

nav#menu div{
    display: inline-block;
    margin-top: 0px;
}

nav#menu div#forms{
    border: 1px #000000 solid;
}

nav#menu ul{
    list-style: none;
    margin: 0px;
}

nav#menu li{
    display: inline-block;
    padding: 10px;
    background-color: #388E3C;
    color : white;
    border: 1px #000000 solid;
    margin-right: -2px;
    margin-left: -2px;
}

.panel-body{
    padding-left: 0px;
    padding-right: 0px;
}

div#forms{
    display: block;
    margin: 0px;
    position: relative;
    top: 40px;
    width: 100%;
    /*border-top: 1px #000000 solid;
    border-bottom: 1px #000000 solid;*/
}

label#ativar-ngram{
    margin-top: 40px;
    margin-left: 370px;
}

label#ativar-entidades{
    margin-top: 40px;
    margin-left: 325px;
}



input#checkbox_vocabulario{
    padding-right: 5px;
}

td.ce{
    vertical-align: top;
}

td.cd{

}

span.titulod{
    margin-left: 90px;
    font-size: 20pt;
}

table#prep{
    border-bottom: 1px #000000 solid;
    width: 100%;
}

div#preprocess.tab-pane.active.in{
    margin-top: 10px;
}

span.tituloe{
    font-size: 20pt;
    margin-left: 20%;

}

.iteme{
    margin-left: 30%;
}

.iteme2{
    margin-left: 15%;
}

span.titulod{
    font-size: 20pt;
}

span.titulod2{
    font-size: 20pt;
    margin-left: 12%;

}

.itemd{
    margin-left: 90px;
}

span.tituloe2{
    font-size: 18pt;
    margin-left: 25%;
}

table#lm {

    width: 100%;
}

.lado{
    margin-left: 4px;
}

table#lm ul {
    list-style: none;
    margin-left: 15%;
}

li{
    margin-bottom: 5px;
}

div#entidades{
    position: relative;
}

table#tentidades{
    position:relative;
    /*width: 100%;
    height: 500px;
    border : 5px #000000 dotted;*/
}

div#dados_crawler{
    margin-left: 170px;
}

.span8
{
   margin: 0 auto;
   border: 1px solid #888;
   width: 25px;
}
